<[foreach]>
<tr>
    <td>
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[nome_prodotto]>
                </h6>
            </div>
        </div>
    </td>
    <td>
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[prezzo_prodotto]>
                </h6>
            </div>
        </div>
    </td>
    <td>
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[quantita_prodotto]>
                </h6>
            </div>
        </div>
    </td>
</tr>
<[/foreach]>

