<[foreach]>
<tr>
    <td class="clickable-row" data-href="/admin/users/<[id]>">
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[id]>
                </h6>
            </div>
        </div>
    </td>
    <td class="clickable-row" data-href="/admin/users/<[id]>">
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[nome]>
                </h6>
            </div>
        </div>
    </td>
    <td class="clickable-row" data-href="/admin/users/<[id]>">
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[cognome]>
                </h6>
            </div>
        </div>
    </td>
    <td class="clickable-row" data-href="/admin/users/<[id]>">
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[email]>
                </h6>
            </div>
        </div>
    </td>
    <td class="clickable-row" data-href="/admin/users/<[id]>">
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[telefono]>
                </h6>
            </div>
        </div>
    </td>
    <td class="clickable-row" data-href="/admin/users/<[id]>">
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold">
                    <[groups]>
                </h6>
            </div>
        </div>
    </td>
    <td class="clickable-row" data-href="/admin/users/<[id]>">
        <div class="d-flex">
            <div class="mt-0 mt-sm-3 d-block">
                <h6 class="mb-0 fs-14 fw-semibold ban">
                    <[ban]>
                </h6>
            </div>
        </div>
    </td>
    <td>
        <div class="g-2">
            <a class="btn text-primary btn-sm"
               data-bs-toggle="tooltip"
               data-bs-original-title="Modifica"
               href="/admin/users/<[id]>"><span
                    class="fe fe-edit fs-14"></span></a>
            <a class="btn text-danger btn-sm"
               data-bs-toggle="modal"
               data-bs-target="#deleteconfirmation"
               data-bs-original-title="Modifica Status"
               data-id="/admin/users/<[id]>/delete"
               href="/admin/users/<[id]>/delete"><span
                    class="fe fe-user-x fs-14"></span></a>
        </div>
    </td>
</tr>
<[/foreach]>

<script>
    $(document).ready(function () {
        $(".clickable-row").css("cursor", "pointer");
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>

<script>
    $(document).ready(function() {
        let delid = ''; //global variable
        $('#deleteconfirmation').on('show.bs.modal', function(e) {
            delid = $(e.relatedTarget).data('id'); //fetch value of `data-id` attribute load it to global variable
        });

        $('#remove-button').click(function() {
            $.ajax({
                url: delid,
                type: 'POST',
                success: function(data) {
                    $('#deleteconfirmation').modal('hide');
                    let response = JSON.parse(data);
                    if (response['success']) {
                        window.location.href = window.location.pathname+"?"+$.param({'success':'true', 'utente':'true'});
                    } else {
                        $('#error .modal-body .text-danger').text(response['error']);
                        $('#error').modal('show');
                    }
                }
            });
        });
        $('.ban').each(function() {
            if ($(this).text().includes('1')) {
                $(this).text('DISABILITATO');
                $(this).addClass('text-danger');
            } else {
                $(this).text('ATTIVO');
                $(this).addClass('text-success');
            }
        });
    });
</script>