<!doctype html>
<html lang="en" dir="ltr">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Admin Dashboard">
    <meta name="keywords"
          content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- FAVICON -->
    <link rel="shortcut icon" type="image/x-icon" href="/skins/admin/sash/assets/images/brand/favicon.ico" />

    <!-- TITLE -->
    <title>Admin Dashboard </title>

    <!-- BOOTSTRAP CSS -->
    <link id="style" href="/skins/admin/sash/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="/skins/admin/sash/assets/css/style.css" rel="stylesheet" />
    <link href="/skins/admin/sash/assets/css/dark-style.css" rel="stylesheet" />
    <link href="/skins/admin/sash/assets/css/transparent-style.css" rel="stylesheet">
    <link href="/skins/admin/sash/assets/css/skin-modes.css" rel="stylesheet" />

    <!--- FONT-ICONS CSS -->
    <link href="/skins/admin/sash/assets/css/icons.css" rel="stylesheet" />

    <!-- COLOR SKIN CSS -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="/skins/admin/sash/assets/colors/color1.css" />

    <!-- JQUERY JS -->
    <script src="/skins/admin/sash/assets/js/jquery.min.js"></script>

    <!-- BOOTSTRAP JS -->
    <script src="/skins/admin/sash/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="/skins/admin/sash/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="/skins/admin/sash/assets/js/custom_da_wizym.js"></script>

</head>

<body class="app sidebar-mini ltr light-mode">

<!-- GLOBAL-LOADER -->
<div id="global-loader">
    <img src="/skins/admin/sash/assets/images/loader.svg" class="loader-img" alt="Loader">
</div>
<!-- /GLOBAL-LOADER -->

<!-- PAGE -->
<div class="page">
    <div class="page-main">
        <[header]>
        <[sidebar]>
        <[content]>
    </div>
</div>
<!-- BACK-TO-TOP -->
<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>


<!-- SPARKLINE JS-->
<script src="/skins/admin/sash/assets/js/jquery.sparkline.min.js"></script>

<!-- Sticky js -->
<script src="/skins/admin/sash/assets/js/sticky.js"></script>

<!-- SIDEBAR JS -->
<script src="/skins/admin/sash/assets/plugins/sidebar/sidebar.js"></script>

<!-- INTERNAL CHARTJS CHART JS-->
<script src="/skins/admin/sash/assets/plugins/chart/Chart.bundle.js"></script>
<script src="/skins/admin/sash/assets/plugins/chart/rounded-barchart.js"></script>
<script src="/skins/admin/sash/assets/plugins/chart/utils.js"></script>

<!-- INTERNAL SELECT2 JS -->
<script src="/skins/admin/sash/assets/plugins/select2/select2.full.min.js"></script>

<!-- INTERNAL Data tables js-->
<script src="/skins/admin/sash/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
<script src="/skins/admin/sash/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
<script src="/skins/admin/sash/assets/plugins/datatable/dataTables.responsive.min.js"></script>


<!-- SIDE-MENU JS-->
<script src="/skins/admin/sash/assets/plugins/sidemenu/sidemenu.js"></script>


<!-- INTERNAL INDEX JS -->
<script src="/skins/admin/sash/assets/js/index1.js"></script>

<!-- Color Theme js -->
<script src="/skins/admin/sash/assets/js/themeColors.js"></script>

<!-- CUSTOM JS -->
<script src="/skins/admin/sash/assets/js/custom.js"></script>

</body>

</html>