<!--APP-SIDEBAR-->
<div class="sticky">
    <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
    <div class="app-sidebar">
        <div class="side-header">
            <a class="header-brand1" href="/admin">
                <img src="/skins/admin/sash/assets/images/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                <img src="/skins/admin/sash/assets/images/brand/logo-1.png" class="header-brand-img toggle-logo"
                     alt="logo">
                <img src="/skins/admin/sash/assets/images/brand/logo-2.png" class="header-brand-img light-logo" alt="logo">
                <img src="/skins/admin/sash/assets/images/brand/logo-3.png" class="header-brand-img light-logo1"
                     alt="logo">
            </a>
            <!-- LOGO -->
        </div>
        <div class="main-sidemenu">
            <div class="slide-left disabled" id="slide-left"><svg xmlns="http://www.w3.org/2000/svg"
                                                                  fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
            </svg></div>
            <ul class="side-menu">
                <li class="sub-category">
                    <h3>Main</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin"><i
                            class="side-menu__icon fe fe-home"></i><span
                            class="side-menu__label">Dashboard</span></a>
                </li>
                <li class="sub-category">
                    <h3>Prodotti</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/products"><i
                            class="side-menu__icon fe fe-shopping-bag"></i><span
                            class="side-menu__label">Prodotti</span></a>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/products/create"><i
                            class="side-menu__icon fe fe-plus"></i><span
                            class="side-menu__label">Aggiungi Prodotti</span></a>
                </li>
                <li class="sub-category">
                    <h3>Categorie</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/categories"><i
                            class="side-menu__icon fe fe-list"></i><span
                            class="side-menu__label">Categorie</span></a>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/categories/create"><i
                            class="side-menu__icon fe fe-plus"></i><span
                            class="side-menu__label">Aggiungi Categorie</span></a>
                </li>
                <li class="sub-category">
                    <h3>Ordini</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/orders"><i
                            class="side-menu__icon fe fe-shopping-cart"></i><span
                            class="side-menu__label">Ordini</span></a>
                </li>
                <li class="sub-category">
                    <h3>Provenienze</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/provenances"><i
                            class="side-menu__icon fe fe-globe"></i><span
                            class="side-menu__label">Provenienze</span></a>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/provenances/create"><i
                            class="side-menu__icon fe fe-plus"></i><span
                            class="side-menu__label">Aggiungi Provenienze</span></a>
                </li>
                <li class="sub-category">
                    <h3>Produttori</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/producers"><i
                            class="side-menu__icon fe fe-truck"></i><span
                            class="side-menu__label">Produttori</span></a>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/producers/create"><i
                            class="side-menu__icon fe fe-plus"></i><span
                            class="side-menu__label">Aggiungi Produttori</span></a>
                </li>
                <li class="sub-category">
                    <h3>Utenti</h3>
                </li>
                <li class="slide">
                    <a class="side-menu__item has-link" data-bs-toggle="slide" href="/admin/users"><i
                            class="side-menu__icon fe fe-users"></i><span
                            class="side-menu__label">Utenti</span></a>
                </li>
            </ul>
        </div>
    </div>
    <!--/APP-SIDEBAR-->
</div>