.auth-page {
    background-image: url(../../image/footer.jpg);
    min-height: 70vh;
    padding: 5rem;
}

.flex {
    display: flex;
}


@media (max-width: 880px) {
    .resp800 {
        display: none;
    }

    .auth-page {
        padding: 0;
    }
}

