<div class="main-content app-content mt-5">
    <div class="side-app">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header justify-content-between align-items-center">
                    <h4 class="card-title">Aggiungi una nuova provenienza</h4>
                    <a href="/admin/provenances" class="btn btn-primary btn-sm mx-3">
                        <span class="fe fe-arrow-left fs-14"></span> Torna indietro </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="nazione">Nazione</label>
                                        <input type="text" class="form-control" id="nazione" name="nazione" value="<[nazione]>" required aria-required="true">
                                        <div class="invalid-feedback">
                                            <span class="text-danger">
                                                Inserisci una nazione valida.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="regione">Regione</label>
                                        <input type="text" class="form-control" id="regione" name="regione" value="<[regione]>" required aria-required="true">
                                        <div class="invalid-feedback">
                                            <span class="text-danger">
                                                Inserisci una regione valida.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="add" name="add" value="add" type="submit">
                        <span class="fe fe-save fs-14"></span> Aggiungi
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#add').click(function() {
            // Controllo che serve a vedere se tutti gli input sono riempiti
            if ($.grep($('input'), (elem) => elem.checkValidity()).length === $('input').length) {
                // Faccio la chiamata e in base al risultato lo mostro a schermo
                $.ajax({
                    type: 'POST',
                    url: '/admin/provenances/create',
                    data: {
                        'nazione': $('#nazione').val(),
                        'regione': $('#regione').val()
                    },
                    success: function (data) {
                        let response = JSON.parse(data);
                        if (response['success']) {
                            $('#nazione').val('');
                            $('#regione').val('');
                            $('.card-header').after('<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>\n' +
                                response['success'] + '</div>');
                        } else if (response['error']) {
                            $('#edit').parent().after('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>\n' +
                                response['error'] + '</div>');
                        }
                    }
                });
            } else {
                $('#edit').parent().after('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>\n' +
                    'Compilare tutti i campi correttamente' + '</div>');
            }
        });


        $('input').on('propertychange change click keyup input paste', function() {
            if ($(this)[0].checkValidity()) {
                $(this).css('border-color', '#ced4da');
                $(this).parent().find('.invalid-feedback').hide();
            } else {
                $(this).css('border-color', '#dc3545');
                $(this).parent().find('.invalid-feedback').show();
            }
        });
    });
</script>
