<footer class="style3" >
    <div class="container">
        <div class="footer-widgets">
            <div class="widget widget-logo">
                <a href="/" class="logo"><img src="<[logo]>" alt="image" width="129" height="auto"></a>
            </div> <!-- /widget-logo -->
            <div class="widget widget-menu">
                <ul>
                    <li class=""><a href="about"> About Us </a></li>
                    <li class="contact"><a href="contacts"> Contacts </a></li>
                </ul>
            </div> <!-- /widget-about -->
            <div class="widget widget-text">
                <span>© 2022 Created by Noi. All Rights Reserved</span>
            </div>
        </div> <!-- /footer-widgets -->
    </div> <!-- /container -->
</footer>
