<header class="style4" id="header">
  <div id="site-header">
    <div class="container">
      <div class="logo">
        <a href="/"><img src="<[logo]>" alt="image" width="129"
                                               height="37"></a>
      </div>
      <div class="mobile-button">
        <span></span>
      </div>
      <div class="nav-wrap">
        <nav id="mainnav" class="mainnav">
          <ul class="menu">
            <li class="active">
              <a href="/" title="HOME">HOME</a>
            </li>
            <li class="active">
              <a href="/products" title="PRODOTTI">PRODOTTI</a>
            </li>
            <li class="active">
              <a href="/about" title="ABOUT US">ABOUT US</a>
            </li>
            <li class="active">
              <a href="/contacts" title="CONTATTACI">CONTATTACI</a>
            </li>
          </ul>
        </nav>
      </div><!-- /.nav-wrap -->
      <div class="review">
        <div class="add-cart">
          <a href="/skins/wizym/#" class="like1 header-search-icon"><i class="fa fa-search"
                                                                       aria-hidden="true"></i></a>
        </div>
        <form class="header-search-form" role="search" method="get" action="/products">
          <input type="text" name="search" class="header-search-field" placeholder="Search...">
          <button type="submit" class="header-search-submit" title="Search"><i class="fa fa-search"></i>
          </button>
        </form>
        <div class="add-cart">
          <a href="/cart" class="like3"><i id="add-cart-header" class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
