<header class="style4" id="header">
  <div id="site-header">
    <div class="container">
      <div class="logo">
        <a href="/"><img src="/skins/wizym/image/logo.png" alt="image" width="129"
                                               height="37" data-retina="image/logo-2x.png" data-width="147"
                                               data-height="21"></a>
      </div>
      <div class="mobile-button">
        <span></span>
      </div>
      <div class="nav-wrap">
        <nav id="mainnav" class="mainnav">
          <ul class="menu">
            <li class="active a">
              <a href="/" title="">HOME</a>
            </li>
            <li class="active">
              <a href="products" title="">PRODUCTS</a>
              <ul class="sub-menu">
                <li><a href="/skins/wizym/Shop-details.html" title="">Shop Details </a></li>
                <li><a href="/skins/wizym/Shop-order-tracking.html" title="">Shop Order Tracking</a>
                </li>
              </ul><!-- /.sub-menu -->
            </li>
            <li class="active">
              <a href="about" title="">ABOUT US</a>
            </li>
            <li class="active">
              <a href="contacts" title="">CONTACT US</a>
            </li>
          </ul>
        </nav>
      </div><!-- /.nav-wrap -->
      <div class="review">
        <div class="add-cart">
          <a href="/skins/wizym/#" class="like1 header-search-icon"><i class="fa fa-search"
                                                                       aria-hidden="true"></i></a>
        </div>
        <form class="header-search-form" role="search" method="get" action="#">
          <input type="text" name="#" class="header-search-field" placeholder="Search...">
          <button type="submit" class="header-search-submit" title="Search"><i class="fa fa-search"></i>
          </button>
        </form>
        <div class="add-cart">
          <a href="cart" class="like3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
