<div class="content">
    <div class="d-flex justify-content-end align-items-end">
        <[button]>
    </div>
    <table class="table custom-table table-bordered text-nowrap mb-0 table-striped">
        <thead>
        <tr>
            <[foreach]>
            <th>
                <[colname]>
            </th>
            <[/foreach]>
        </tr>
        </thead>
        <tbody>
        <[specific_table]>
        </tbody>
    </table>
</div>
<div class="modal" id="deleteconfirmation">
    <div class="modal-dialog text-center" role="document">
        <div class="modal-content text-center" style="width: 90%">
            <div class="modal-body text-center ">
                <div class="flex justify-content-end ">
                <button aria-label="Close" class="btn-close position-relative mb-3" data-bs-dismiss="modal"><span aria-hidden="true"></span></button>
                </div>
                    <p id="delete_modal_text"></p>
                <div class="flex justify-content-center align-items-center">
                <button aria-label="Annulla" class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal" data-bs-dismiss="modal">Annulla</button>
                <button aria-label="Procedi" class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal" id="remove-button">Procedi</button>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-backdrop {
        z-index: 0;
    }

    .page-item.active.page-link-color {
        z-index: 3; !important;
        color: #fff; !important;
        background-color: #c02323; !important;
        border-color: #c02323; !important;
    }
</style>

<script>
    $(document).ready(function () {
        $('.table').DataTable({
            "language": {
                "lengthMenu": "Mostra _MENU_ record per pagina",
                "zeroRecords": "Nessun record trovato",
                "info": "Pagina _PAGE_ di _PAGES_",
                "infoEmpty": "Nessun record trovato",
                "infoFiltered": "(filtrato da _MAX_ record totali)",
                "search": "Cerca",
                "paginate": {
                    "previous": "Precedente",
                    "next": "Successivo"
                }
            },
            "order": [[0, "asc"]]
        });

        $('.page-item.active .page-link').css({'background-color': '#c02323', 'border-color': '#c02323'});
    })
</script>