<div class="content">


            <table class="table custom-table">
                <thead>
                <tr>
                    <[foreach]>
                    <th scope="col">
                        <[colname]>
                    </th>
                    <[/foreach]>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <[specific_table]>
                </tbody>
            </table>
        </div>


    </div>

</div>



<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>