<div class="product-content clearfix shop-right-grid flex flex-wrap justify-content-start">
    <ul class="product style2 isotope-product clearfix">
        <[foreach]>
        <li class="product-item arrivals sale">
            <input type="hidden" name="product_id<[id]>" value="<[id]>">
            <input type="hidden" name="percentuale<[id]>" value="<[percentuale]>">
            <div class="product-thumb clearfix">
                <a href="/products/<[id]>" class="product-thumb">
                    <img style="width: 150px; height: auto" src="<[image]>" alt="image">
                </a>
            </div>
            <div class="product-info clearfix">
                <span class="product-title"><[nome]></span>
                <div class="price">
                    <ins>
                        <span class="amount<[id]>"><[prezzo]>&euro;</span>
                    </ins>
                </div>
            </div>
            <[percentuale]>
            <div class="product-review">
                <[like]>
                <div class="add-cart">
                    <a class="like3"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                </div>
            </div>

        </li> <!-- /product-item -->

        <[/foreach]>
    </ul>
</div>
<div class="blog-pagination text-center">
    <ul class="flat-pagination">
    </ul>
</div>
<style>
    .sconto {
        position: absolute;
        color: white;
        top: 2rem;
        left: 2rem;
        display: inline-block;
        padding: 10px 15px;
        background-color: #c02323;
        border-radius: 50%;
        margin-bottom: 18px;
    }

    div.product-review {
        opacity: 0;
        top: 16px;
        right: 0;
        position: absolute;
        visibility: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    @media (max-width: 991px) {
        .sconto {
            top: 2rem;
            left: 5.5rem;
        }

        .product .product-item .product-review {
            opacity: 1;
            top: 16%;
            right: 16%;
            visibility: visible;
            transition: none;
        }
    }
</style>

<script>
    $(document).ready(function () {
        const allItems = $('.product-item'); //tutti i prodotti

        $.each($('span[id^="percentuale"]'), function () {
            let id = $(this).attr('id').replace('percentuale', '');
            let percentuale = parseInt($(this).text().slice(1, -1));
            if (!isNaN(percentuale)) {
                let amount = $('.amount' + id);
                let prezzo_base = amount.text().slice(0, -1);
                let prezzo_scontato = prezzo_base - (prezzo_base * (percentuale / 100));

                amount.html(`<p>${prezzo_scontato.toFixed(2)} € &nbsp;</p>`);
                amount.after(`<p style="color: black; font-size: .7em;">Prezzo consigliato: <s>${parseFloat(prezzo_base).toFixed(2)}€</s></p>`);
            }
        });

        paginate(allItems); //prima chiamata alla paginazione
        $('.heart').click(function () {
            let i = $(this).find('i');

            $.ajax({
                type: 'POST',
                url: '/products/'+ $(this).data('id') +'/like',
                data: {
                    'like': i.hasClass('fa-heart') ? 0 : 1
                },
                success: function (data) {
                    let response = JSON.parse(data);
                    if (response['success'] === 'Like') {
                        i.removeClass('fa-heart-o').addClass('fa-heart');
                    } else if (response['success'] === 'Dislike') {
                        i.removeClass('fa-heart').addClass('fa-heart-o');
                    }
                }
            });
        });

        // Paginazione
        function paginate(items, filter = false) {
            let numItems = items.length;
            let perPage = 9;
            let pages = Math.ceil(numItems / perPage) + 1;
            let currentPage = 0;
            $('.product').css('height', 'auto');
            $('.flat-pagination').empty();
            if (filter) {
                $('.product').empty();
                $.each(items, function () {
                    $(this).show();
                    $(this).css({'position': 'relative', 'top': '0', 'left': '0'});
                    $('.product').append($(this));
                });
            } else {
                items.slice(perPage).hide();
            }

            for (let i = 1; i < pages; i++) {
                if (i === 1) {
                    $('.flat-pagination').append('<li class="active"><a href="#" id="da_attivare" class=" hvr-shutter-out-horizontal">' + i + '</a></li>');
                } else {
                    $('.flat-pagination').append('<li><a href="#" class=" hvr-shutter-out-horizontal">' + i + '</a></li>');
                }
            }

            $('.flat-pagination li').on('click', function () {
                let $this = $(this);
                $('li').removeClass('active');
                $this.addClass('active');
                currentPage = $this.index();
                let startItem = currentPage * perPage;
                let endItem = startItem + perPage;
                $(items).hide().slice(startItem, endItem).show().css({'position': 'relative', 'top': '', 'left': ''});
            });
        }
    });
</script>
