.auth-page {
    background-image: url(../image/footer.jpg);
    min-height: 70vh;
    padding: 5rem;
}

.flex {
    display: flex;
}

.product-thumb-custom {
    width: auto;
    height: 18.5rem;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: whitesmoke;
}


.immagine {
    height: 100%;
    width: auto;
}

.modal-backdrop {
    z-index: 0;
}

.modal-content {
    width: 100% !important;
}

.pointer {
    cursor: pointer;
}


.page-item.active.page-link-color {
    z-index: 3; !important;
    color: #fff; !important;
    background-color: #c02323; !important;
    border-color: #c02323; !important;
}

@media (max-width: 880px) {

    .resp800 {
        display: none;
    }

    .auth-page {
        padding: 0;
    }

    .immagine {
        height: 15rem;
        width: auto;
    }
}

