
    <div class="container px-0" style="width: auto">
            <div class="d-flex justify-content-between align-items-center">
                <div class="container border-0 mx-0" style="width: 100%">
                    <div class="container border-0 pl-4 pr-4 pt-4 pb-2 " style="width: auto">
                            <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0 text-left" style="color:#6c757d; font-size: 11px" id="annullamento" hidden>L'ordine è stato annullato per il seguente motivo: <[motivazione]></p>
                            <p class="lead fw-normal mb-0 text-left" style="color:#6c757d; font-size: 11px" id="sospensione" hidden>L'ordine è stato sospeso per il seguente motivo: <[motivazione]>. Puoi procedere
                            con l'annullamento o con la modifica dell'ordine</p>
                            </div>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <p class="lead fw-normal mb-0 text-left" style="color:#c02323;" id="titolo">Prodotti</p><br>
                            <button class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal" style="font-size: 12px" type="submit" id="annulla" name="annulla" value="annulla" hidden>
                               ANNULLA L'ORDINE
                            </button>
                            <button class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal"  style="font-size: 12px" type="submit" id="modifica" name="modifica" value="modifica" hidden>
                               MODIFICA L'INDIRIZZO
                            </button>
                        </div>
                        <!--Modal-->
                        <div id="dialog" class="modal">
                            <!-- Modal content -->
                            <div class="modal-content text-center">
                                <span class="close text-left">&times;</span>
                                <p>Sei sicuro di voler annullare l'ordine?</p>
                                <button class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal" type="submit" id="conferma" name="conferma" value="conferma">
                                   Sì</button>
                            </div>

                        </div>
                       <[table_prodotti]>
                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0 title_information" style="font-size: large">Dettagli dell'ordine</p>
                        </div>
                        <div class="d-flex pt-2">
                            <p class="mb-0 title_information">Stato : </p> <p><[stato]></p>
                            <input type="hidden" name="stato" id="stato" value="<[stato]>">
                        </div>
                        <div class="d-flex pt-2">
                            <p class="mb-0 title_information">Numero ordine : </p><p><[numero_ordine]></p>
                        </div>
                        <div class="d-flex pt-1">
                            <p class="mb-0 title_information">Data : </p><p><[data]></p>
                        </div>
                        <div id="indirizzi">
                        <div class="d-flex pt-1" id="i_spe" >
                            <p class="mb-0 title_information">Indirizzo di spedizione : </p><p><[indirizzo_spedizione]></p>
                        </div>
                        <div class="d-flex pt-1" id="i_fatt" >
                            <p class=" mb-0 title_information">Indirizzo di fatturazione : </p><p><[indirizzo_fatturazione]></p>
                        </div>
                        </div>
                    <div class="card-footer border-0 px-4 py-5 style3"
                         style=" border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;">
                        <h5 class="d-flex align-items-center justify-content-end text-uppercase mb-0" style="color: #c02323 ">Totale : <span class="h2 mb-0 ms-2"><[totale]>€</span></h5>
                    </div>
                </div>
                </div>
            </div>
        <input type="hidden" name="id" id="id" value="<[id]>">
        <div id="modifiche_ordine" hidden>
        <div class="d-flex flex-column justify-content-start align-items-start ml-5">
            <button class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal" style="font-size: 13px" type="submit" id="indirizzo_esistente" name="indirizzo_esistente" value="indirizzo_esistente" hidden>
            SCEGLI UN INDIRIZZO ESISTENTE
            </button>
            <div id="table_indirizzi" class="pt-3 mt-2" hidden>
                <[selectPicker_indirizzi]>
            </div>
            <button class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal" style="font-size: 13px" type="submit" id="nuovo_indirizzo" name="nuovo_indirizzo" value="nuovo_indirizzo" hidden>
                SCEGLI UN NUOVO INDIRIZZO
            </button>
            <div id="form_indirizzo" hidden>
                <[form_indirizzo]>
            </div>
            <button class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal" style="font-size: 13px" type="submit" id="annulla_modifiche" name="annulla_modifiche" hidden>
                ANNULLA
            </button>
        </div>
        </div>
    </div>
    <script>
        let x= document.getElementById("stato").value;
        $(document).ready(function () {
        if(x==="MEMORIZZATO" || x==="SOSPESO"){
            $("#annulla").removeAttr("hidden");
        }
    });
    if(x==="ANNULLATO") {
        $("#annullamento").removeAttr("hidden");
    }
    if(x==="SOSPESO") {
        $("#sospensione").removeAttr("hidden");
        $("#modifica").removeAttr("hidden");
    }
    // Get the modal
    var modal = document.getElementById("dialog");

    // Get the button that opens the modal
    var btn = document.getElementById("annulla");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    $(document).ready(function(){
        $("#conferma").click(function () {
        if(x==="MEMORIZZATO") {
                $.ajax({
                    type: "POST",
                    url: "/orders/annulla",
                    data: {
                        id: $("#id").val()
                    },
                    success: function (data) {
                        location.reload();
                    }
                });
        }else{
            $('#titolo').parent().after('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>\n' +
                'Non puoi annullare l\'ordine' + '</div>');
        }
        });
    });
    $(document).ready(function(){
        $("#modifica").click(function () {
            $("#modifiche_ordine").attr("hidden",false);
            $("#indirizzi").attr("hidden",true);
            $("#indirizzo_esistente").removeAttr("hidden");
            $("#nuovo_indirizzo").removeAttr("hidden");
            $("#annulla_modifiche").removeAttr("hidden");
        });
    });
        $(document).ready(function(){
            $("#indirizzo_esistente").click(function () {
                $("#table_indirizzi").removeAttr("hidden");
                $("#nuovo_indirizzo").attr("hidden",true);
            });
        });
        $(document).ready(function(){
            $("#nuovo_indirizzo").click(function () {
                $("#form_indirizzo").removeAttr("hidden");
                $("#indirizzo_esistente").attr("hidden",true);
            });
        });
        $(document).ready(function(){
            $("#annulla_modifiche").click(function () {
                $("#indirizzi").attr("hidden",false);
                $("#modifiche_ordine").attr("hidden",true);
                $("#table_indirizzi").attr("hidden",true);
                $("#form_indirizzo").attr("hidden",true);
            });
        });

    </script>

