<style>
    .modal-backdrop {
        z-index:0;
    }
</style>
<[foreach]>
<tr>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[indirizzo]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[citta]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[cap]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[provincia]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[nazione]>
    </td>
    <td>
        <div class="d-flex justify-content-center align-items-center">
            <div class="elm-btn">
                <a href="/addresses/<[id]>"
                   class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal"
                   style="font-size: 13px">MODIFICA</a>
            </div>
            <div class="elm-btn">
                <a class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal"
                   style="font-size: 13px"
                   data-bs-toggle="modal"
                   data-bs-target="#deleteconfirmation"
                   data-bs-original-title="Cancella"
                   data-id="/addresses/<[id]>/delete"
                   href="/addresses/<[id]>/delete">ELIMINA</a>
            </div>
        </div>
    </td>

</tr>
<[/foreach]>

<script>
    $(document).ready(function () {
        $(".clickable-row").css("cursor", "pointer");
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>
<script>

    $(document).ready(function() {
        let delid = ''; //global variable
        $('#deleteconfirmation').on('show.bs.modal', function(e) {
            $('#delete_modal_text').html('Sei sicuro di voler eliminare questo indirizzo?');
            delid = $(e.relatedTarget).data('id'); //fetch value of `data-id` attribute load it to global variable
        });
        $('#remove-button').click(function() {
            $.ajax({
                url: delid,
                type: 'POST',
                success: function(data) {
                    $('#deleteconfirmation').modal('hide');
                    let response = JSON.parse(data);
                    if (response['success']) {
                        window.location.href = window.location.pathname+"?"+$.param({'success':'true'});
                    } else {
                        $('#error .modal-body .text-danger').text(response['error']);
                        $('#error').modal('show');
                    }
                }
            });
        });
    });
    </script>