
<[foreach]>
<tr>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[indirizzo]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[citta]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[cap]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[provincia]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[nazione]>
    </td >
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <div class="d-flex justify-content-center align-items-center">
    <div class="elm-btn">
     <a href="/addresses/<[id]>" class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal" style="font-size: 13px">MODIFICA</a>
    </div>
        </div>
    </td >

</tr>
<[/foreach]>

<script>
    $(document).ready(function () {
        $(".clickable-row").css("cursor", "pointer");
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>