
<[foreach]>
<tr>
    <td class="clickable-row" data-href="/products/<[id]>">
        <[nome]>
    </td>
    <td class="clickable-row" data-href="/products/<[id]>">
        <[prezzo]>€
    </td>
    <td class="clickable-row" data-href="/products/<[id]>">
        <[disponibilità]>
    </td>
    <td class="clickable-row" data-href="/products/<[id]>">
        <[categoria]>
    </td>
    <td class="clickable-row" data-href="/products/<[id]>">
        <[produttore]>
    </td>
    <td class="clickable-row" data-href="/products/<[id]>">
        <[provenienza]>
    </td>
    <td>
        <div class="heart mg-item-ct" style="cursor: pointer; color: #c21a1a;" data-id="<[id]>">
            <i class="fa fa-heart" aria-hidden="true"></i>
        </div>
    </td>
</tr>
<[/foreach]>

<script>
    $(document).ready(function() {
        $('.heart').click(function() {
            $.ajax({
                type: 'POST',
                url: '/products/' + $(this).data('id') + '/like',
                data: {
                    'like': 0
                },
                success: function (data) {
                    let response = JSON.parse(data);
                    if (response['success'] === 'Dislike') {
                        location.reload();
                    }
                }
            });
        });
    });

</script>
