<[foreach]>
<tr>
    <td class="clickable-row" data-href="/orders/<[id]>">
        <[numero_ordine]>
    </td>
    <td class="clickable-row" data-href="/orders/<[id]>">
        <[data]>
    </td>
    <td class="clickable-row" data-href="/orders/<[id]>">
        <[stato]>
    </td>
    <td class="clickable-row" data-href="/orders/<[id]>">
        <[totale]>
    </td>
    <td class="clickable-row" data-href="/orders/<[id]>">
        <[indirizzo_spedizione]>
    </td >
</tr>
<[/foreach]>
<script>
    $(document).ready(function () {
        $(".clickable-row").css("cursor", "pointer");
        $(".clickable-row").click(function () {
            window.location = $(this).data("href");
        });
    });
</script>