<[foreach]>
<tr id="tr<[id]>">
    <input type="hidden" value="<[id]>" name="products[]">
    <td class="text-center image"><img src="skins/wizym/image/homepage132.png" alt="image"></td>
    <td class="list text"><[nome]></td>
    <td class="text-center list price" id="prezzo<[id]>" style="min-width: 5rem"><[prezzo]>€</td>
    <td class="text-center list quantity">
        <ul class="quantity-menu">
            <li><i class="fa fa-minus-circle" aria-hidden="true" id="qminus<[id]>"></i></li>
            <li id="quantity<[id]>"><[quantity]></li>
            <li><i class="fa fa-plus-circle" aria-hidden="true" id="qplus<[id]>"></i></li>
        </ul>
    </td>
    <input type="hidden" id="dimensioneOriginale<[id]>" value="<[dimensione]>">
    <td class="text-center list price" id="dimensione<[id]>" style="min-width: 5rem"><[dimensione]>Kg</td>
    <td class="text-center list price" id="totale<[id]>" style="min-width: 5rem"><[prezzo]>€</td>
    <td class="text-center delete no-select" id="remove<[id]>">×</td>
</tr>
<[/foreach]>