<[foreach]>
<div class="card shadow-0 border mb-4" style="width: 80%">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <img src=""
                     class="img-fluid" alt="prodotto">
            </div>
            <div class="col-md-3 text-center d-flex justify-content-center align-items-center" >
               <a href="/products/<[id]>" class="menu-style"> <p class=" mb-0"><[nome_prodotto]></p></a>
            </div>
            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                <p class=" mb-0 "><[prezzo_prodotto]>€</p>
            </div>
            <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                <p class=" mb-0 ">qt.<[quantita_prodotto]></p>
            </div>
        </div>
    </div>
</div>
<[/foreach]>