<[foreach]>
<tr>
    <td class="clickable-row" data-href="/addresses/<[id]>">
       ci vogliono le stelline
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <[commento]>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
      <a href="/products/<[prodotto_id]>" class="menu-style"> <[nome_prodotto]></a>
    </td>
    <td class="clickable-row" data-href="/addresses/<[id]>">
        <div class="d-flex justify-content-center align-items-center">
            <div class="elm-btn">
                <a href="/reviews/<[id]>/delete"
                   class="themesflat-button outline ol-accent margin-top-table hvr-shutter-out-horizontal"
                   style="font-size: 13px">ELIMINA</a>
            </div>
        </div>
    </td>
    <[/foreach]>