<div class="main-content app-content mt-5">
    <div class="side-app">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header justify-content-between align-items-center">
                    <h4 class="card-title">Aggiungi un nuovo produttore</h4>
                    <a href="/admin/producers" class="btn btn-primary btn-sm mx-3">
                        <span class="fe fe-arrow-left fs-14"></span> Torna indietro </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="ragione_sociale">Ragione Sociale</label>
                                        <input type="text" class="form-control" id="ragione_sociale" name="ragione_sociale"  required aria-required="true">
                                        <div class="invalid-feedback">
                                            <span class="text-danger">
                                                Inserisci una ragione sociale valida.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="partita_iva">Partita Iva</label>
                                        <input type="text" class="form-control" id="partita_iva" name="partita_iva"  required aria-required="true">
                                        <div class="invalid-feedback">
                                            <span class="text-danger">
                                                Inserisci una partita iva valida.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="partita_iva">Provenienza</label>
                                        <input type="text" class="form-control" id="provenienza" name="provenienza"  required aria-required="true">
                                        <div class="invalid-feedback">
                                            <span class="text-danger">
                                                Inserisci una provenienza valida.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="telefono">Telefono</label>
                                        <input type="tel" class="form-control" id="telefono" name="telefono"  required aria-required="true">
                                        <div class="invalid-feedback">
                                            <span class="text-danger">
                                                Inserisci un numero di telefono valido.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email"  required aria-required="true">
                                        <div class="invalid-feedback">
                                            <span class="text-danger">
                                                Inserisci una mail valida.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="sito_web">Sito Web</label>
                                        <input type="url" class="form-control" id="sito_web" name="sito_web"  required aria-required="true">
                                        <div class="invalid-feedback">
                                            <span class="text-danger">
                                                Inserisci un Sito Web valido.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="add" name="add" value="add" type="submit">
                        <span class="fe fe-save fs-14"></span> Aggiungi
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#add').click(function() {
            // Controllo che serve a vedere se tutti gli input sono riempiti
            if ($.grep($('input'), (elem) => elem.checkValidity()).length === $('input').length) {
                // Faccio la chiamata e in base al risultato lo mostro a schermo
                $.ajax({
                    type: 'POST',
                    url: '/admin/producers/create',
                    data: {
                        'ragione_sociale': $('#ragione_sociale').val(),
                        'partita_iva': $('#partita_iva').val(),
                        'provenienza': $('#provenienza').val(),
                        'telefono': $('#telefono').val(),
                        'email': $('#email').val(),
                        'sito_web': $('#sito_web').val()
                    },
                    success: function (data) {
                        let response = JSON.parse(data);
                        if (response['success']) {
                            $('#nazione').val('');
                            $('#regione').val('');
                            $('.card-header').after('<div class="alert alert-success alert-dismissible fade show" role="alert">' +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>\n' +
                                response['success'] + '</div>');
                        } else if (response['error']) {
                            $('.card-header').after('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>\n' +
                                response['error'] + '</div>');
                        }
                    }
                });
            } else {
                $('.card-header').after('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true">×</button>\n' +
                    'Compilare tutti i campi correttamente' + '</div>');
            }
        });


        $('input').on('propertychange change click keyup input paste', function() {
            if ($(this)[0].checkValidity()) {
                $(this).css('border-color', '#ced4da');
                $(this).parent().find('.invalid-feedback').hide();
            } else {
                $(this).css('border-color', '#dc3545');
                $(this).parent().find('.invalid-feedback').show();
            }
        });
    });
</script>
